<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Price Tiers</title>
    <link rel="stylesheet" href="/styles/memberships.css">
</head>

<body>
    <%- include('partials/header') %>

        <div class="panel pricing-table">
            <div class="pricing-plan">
                <img src="/Images/icon1.png" alt="" class="pricing-img">
                <h2 class="pricing-header">fan</h2>
                <ul class="pricing-features" id="first">
                    <li class="pricing-features-item">24/7 Service</li>

                </ul>
                <span class="pricing-price" id="one">Free</span>
                <a href="#/" class="pricing-button">Sign up</a>
            </div>

            <div class="pricing-plan">
                <img src="/images/icon2.png" alt="" class="pricing-img">
                <h2 class="pricing-header">big fan</h2>
                <ul class="pricing-features" id="second">
                    <li class="pricing-features-item">24/7 Service</li>
                    <li class="pricing-features-item">custom products</li>
                </ul>
                <span class="pricing-price" id="two">$50</span>
                <a href="#/" class="pricing-button ">Free trial</a>
            </div>

            <div class="pricing-plan">
                <img src="/Images/icon3.png" alt="" class="pricing-img">
                <h2 class="pricing-header">huge fan</h2>
                <ul class="pricing-features" id="third">
                    <li class="pricing-features-item">24/7 Service</li>
                    <li class="pricing-features-item">custom products</li>
                    <li class="pricing-features-item">package sent to you every month</li>
                </ul>
                <span class="pricing-price">$100</span>
                <a href="#/" class="pricing-button">Free trial</a>
            </div>

        </div>

</body>

</html>